<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QtPyVCP</Name>
    <Version>0.0.0+00.g00000000</Version>
    <Title>QtPyVCP</Title>
    <Publisher>Kcjengr</Publisher>
    <ProductUrl>https://qtpyvcp.com/</ProductUrl>
    <PageListPixmap>logo.png</PageListPixmap>
    <InstallerWindowIcon>icon.png</InstallerWindowIcon>
    <Logo>logo2.png</Logo>
    <Watermark>watermark.png</Watermark>
    <StyleSheet>style.qss</StyleSheet>
    <StartMenuDir>QtPyVCP</StartMenuDir>
    <TargetDir>@HomeDir@/.qtpyvcp-install/</TargetDir>
    <RemoteRepositories>
         <Repository>
             <Url>http://repository.qtpyvcp.com/dev/repo/</Url>
         </Repository>
    </RemoteRepositories>
    <ControlScript>controller.qs</ControlScript>
</Installer>
